<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
    abc
    <div style="width:300px; background:yellow; margin-top:50px;
        margin-left:50px; padding-left:20px; box-sizing:border-box;
        border:1px solid black; border-radius:20px;">
        <div style="width:60px; height:120px; background:red;"></div>
        <div style="width:120px; height:80px; background:blue;"></div>
    </div>

    
    <div style="width:300px; height:200px; border:1px solid black;
    margin-top:10px;">
    <div style="background:blue; color:white; width:50%;">div1</div>
    <div style="background:blue; color:white;">div2</div>

    <span style="background:red; color:white; display:block;">span1</span>
    <span style="background:red; color:white; display:block;">span2</span>

    </div>


    <header></header>
    <main></main>
    <footer></footer>
    <nav></nav>
    <section></section>
    <aside></aside>
    <article></article>

    <img style="width:280px; height:280px; object-fit: cover; border-radius : 50%;" 
    src="https://gongu.copyright.or.kr/gongu/wrt/cmmn/wrtFileImageView.do?wrtSn=13262118&filePath=L2Rpc2sxL25ld2RhdGEvMjAyMC8yMS9DTFMxMDAwNi82MmZhMWExMy03ZjRmLTQ1NWMtYTZlNy02ZTk2YjhjMjBkYTk=&thumbAt=Y&thumbSe=b_tbumb&wrtTy=10006.jpg"/>
    
    <br/>
    <input type="text" placeholder="아이디" value="good"/>
    <input type="password"/>
    <input type="number"/>
    <input type="date"/>
    <input type="file"/>

    <input type="radio" name="level" value="1"/>
    <span>상</span>

    <input type="radio" name="level" value="2"/>
    <span>중</span>

    <input type="radio" name="level" value="3"/>
    <span>하</span>

    <select>
        <option value="1">상</option>
        <option value="2">중</option>
        <option value="3">하</option>

    
    
    <input type="checkbox" value="1"/>
    <span>상</span>
    
    <input type="checkbox" value="2"/>
    <span>중</span>
    
    <input type="checkbox" value="3"/>
    <span>하</span>

    <textarea style="width: 300px;height :200px; resize :None; 
    padding: 4px; font-size :20px; font-weight: 700px;">안녕</textarea>

    <button>회원가입</button>

    <a href="./login">로그인 이동</a>
</body>
</html>