<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<style>
    .kko-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 240px;
        height: 40px;
        outline: none;
        border: 1px solid #dedede;
        background: #fee40c;
        font-size: 16px;
        font-weight: 700;
        color: #191919;
        border-radius: 8px;
        cursor: pointer;
    }

    .kko-btn:hover{
        background: #edd404;
    }

    .kko-btn > img{
        width: 22px;
        margin-right: 10px;
    }
</style>

<body style="position: relative;">

    <h1>카카오 로그인 버튼</h1>

    <button class="kko-btn">
        <img src="https://cdn-icons-png.flaticon.com/512/2111/2111496.png"/>
        카카오로 시작하기
    </button>

<body> 
    <h1>레이아웃</h1>

    <div style="width: 200px; height: 100px; background: blue; color: white;
                 display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <span>login1</span>
        <span>login2</span>
        <span>login3</span>
    </div>


    <div style="width: 300px; height: 200px; background: gray;position: relative;">
    <div style="width: 50px; height: 50px; background: black; position : absolute;bottom:10px; right: 30px;"></div>

</body>

